# 과일 개수 골라내기

> 장바구니에 아래와 같은 과일이 들어있고 과일 판별 리스트가 있습니다.

```python
basket_items = {'apples': 4, 'oranges': 19, 'kites': 3, 'sandwiches': 8}

fruits = ['apples', 'oranges', 'pears', 'peaches', 'grapes', 'bananas']

```
> 현재 장바구니에는 과일이 몇개이고 과일이 아닌 것은 몇개인지 출력하시오.
---
```
예시 출력)
과일은 23개이고, 11개는 과일이 아닙니다..
```

In [ ]:
a = 0                                       #해답
b = 0
for key in basket_items.keys():             #for key, value in basket_items.items:
    if key in fruits:
        a += (basket_items[key])               #a += count
    else:
        b += (basket_items[key])               #b += count
print(f'과일은 {a}개이고, {b}개는 과일이 아닙니다..')

# 영어 이름 출력하기 

> 영어 이름은 가운데 이름을 가지고 있는 경우가 있습니다.
>
> 가운데 이름은 대문자로 축약해서 나타내는 코드를 작성해보세요.

---
```
예시 입력)
Alice Betty Catherine Davis
```
```
예시 출력)
Alice B. C. Davis
```

In [34]:
# 아래에 코드를 작성하세요.
names = input()
splited = names.split()

for name in splited:
    if name == splited[0]:
        print(name, end = ' ')
    elif name == splited[-1]:
        print(name)
    else:
        print(f'{name[0].upper()}.', end = ' ')

alice betty catherine Davis
alice B. C. Davis

In [32]:
name =input()
names = name.split()
for i in range(1, len(names)-1):
    names[i] = names[i][0].upper() + '.'    # str.upper() 대문자 변환
    print(' '.join(names))

Alice Betty Catherine DavisAlice Betty Catherine Davis
Alice B. Catherine DavisAlice Betty Catherine Davis
Alice B. C. DavisAlice Betty Catherine Davis
Alice B. C. D. Betty Catherine Davis
Alice B. C. D. B. Catherine Davis
Alice B. C. D. B. C. Davis

# 구구단 출력하기
> 2단부터 9단까지 반복문을 사용하여 구구단을 출력하세요.
---
```
예시 출력)
------- [2 단] -------
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

------- [3 단] -------
...
```

In [35]:
# 아래에 코드를 작성하세요.
a = range(2,10)
b = range(1,10)
for ia in a:
    print(f'------- [{ia} 단] -------')
    for ib in b:
        print(f'{ia} X {ib} = {ia*ib}')
    print()

------- [2 단] -------
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

------- [3 단] -------
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

------- [4 단] -------
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

------- [5 단] -------
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

------- [6 단] -------
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

------- [7 단] -------
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

------- [8 단] -------
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

------- [9 단] -------
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

# 달력 출력하기

> 1월 1일 월요일부터 12월 31일까지 달력을 출력하세요.

---
```
예시 출력)
         1 월
Mo Tu We Th Fr Sa Su 
 1  2  3  4  5  6  7 
 8  9 10 11 12 13 14 
15 16 17 18 19 20 21 
22 23 24 25 26 27 28 
29 30 31 
         2 월
Mo Tu We Th Fr Sa Su 
 1  2  3  4  5  6  7 
 8  9 10 11 12 13 14 
15 16 17 18 19 20 21 
22 23 24 25 26 27 28 

         3 월
Mo Tu We Th Fr Sa Su 
 1  2  3  4  5  6  7 
 8  9 10 11 12 13 14 
15 16 17 18 19 20 21 
22 23 24 25 26 27 28 
29 30 31
...
```

In [40]:
calendar = { 
        1: 31, 2: 28, 3: 31, 4: 30, 5: 31,6: 30, 
        7: 31, 8: 31, 9: 30, 10: 31, 11: 30, 12: 31 
} 
weeks = ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su'] 

# 아래에 코드를 작성하세요.

In [54]:
#딕셔너리의 키, 값을 반복문을 통해 이용한다.
#f-string 조절
for month, count_day in calendar.items():
    count = 0
    print(f'{month:10} 월')
    for day in weeks:
        print(f'{day}', end=' ')
    print()
    
    for i in range(1, count_day+1):
        print(f'{i:2}', end=' ')
        count += 1
        if count == 7:
            print()
            count = 0
    print()

         1 월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31
         2 월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28

         3 월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31
         4 월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30
         5 월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31
         6 월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30
         7 월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31
         8 월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31
         9 월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30
        10 월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31
        11 월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30
        12 월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

In [59]:
# for i in calendar
# range(1, calendar[i])
day = 0
for i in range(1,32):
    if i <= 7:
        print(f'{day+i:2}', end=' ')   #:10  문자열의 길이 관계없이 10만큼의 자리 지정
        if i == 7:
            print()
    if 8<= i <= 14:
        print(f'{day+i:2}', end=' ')
        if i == 14:
            print()
    if 15 <= i <= 21:
        print(f'{day+i:2}', end=' ')
        if i == 21:
            print()

 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21

In [10]:
for i in calender.keys():
    print(f'{i} 월'.center(22))
    print(' '. join(weeks))

         1 월
Mo Tu We Th Fr Sa Su
         2 월
Mo Tu We Th Fr Sa Su
         3 월
Mo Tu We Th Fr Sa Su
         4 월
Mo Tu We Th Fr Sa Su
         5 월
Mo Tu We Th Fr Sa Su
         6 월
Mo Tu We Th Fr Sa Su
         7 월
Mo Tu We Th Fr Sa Su
         8 월
Mo Tu We Th Fr Sa Su
         9 월
Mo Tu We Th Fr Sa Su
         10 월
Mo Tu We Th Fr Sa Su
         11 월
Mo Tu We Th Fr Sa Su
         12 월
Mo Tu We Th Fr Sa Su

# 개인정보보호
> 사용자의 핸드폰번호를 입력 받으려고한다. 개인정보 보호를 위하여 뒷자리 4자리를 제외하고는 마스킹 처리를 하려고한다.
>
> 핸드폰번호는 010으로 시작해야하고 11자리여야한다. 핸드폰번호를 입력하지 않았다면 "핸드폰번호를 입력하세요"를 출력한다

```
예시 입력)
01012341234
예시 출력)
*******1234
```

In [60]:
# 아래에 코드를 작성하세요.

In [ ]:
#1번 풀이
phone = input()
if phone[0:3] == '010' and len(phone) == 11:
    result = '*'* 7 + phone[-4:]     #  =   phone[-4:-1] 끝까지 쓰면 -1 생략가능 
    print(result)
else:
    print('핸드폰 번호를 입력해주세요.')

In [4]:
#2번 풀이
phone = input()
if phone[0:3] == '010' and len(phone) == 11:
    print(f'{phone[-4:]:*>11}')
else:
    print('핸드폰 번호를 입력해주세요.')

01012345678
*******5678

# 정중앙
> 사용자가 입력한 문자열중 가운데 글자를 출력하라. 문자열이 짝수라면 가운데 두글자를 출력하라

In [41]:
# 아래에 코드를 작성하세요.

In [14]:
ab = ['a','b','c','d','e','f']
if len(ab) % 2:
     print(ab[len(ab)/2]) 
else:
    
#len(a)//2

In [13]:
text = input()
num = len(text) //2

if len(text) % 2:
    middle = text[num]
else:
    middle = text[num-1:num+1]
print(middle)

abcd
bc

# 소수 찾기

> 조건, 반복문을 응용하여 numbers 리스트의 요소들이 소수인지 아닌지 판단하는 코드를 작성하라.

```python
numbers = [26, 39, 51, 53, 57, 79, 85]

# 출력 예시
26 는 소수가 아닙니다. 2 는 26 의 인수입니다.
39 는 소수가 아닙니다. 3 는 39 의 인수입니다.
51 는 소수가 아닙니다. 3 는 51 의 인수입니다.
53 는 소수입니다.
57 는 소수가 아닙니다. 3 는 57 의 인수입니다.
79 는 소수입니다.
85 는 소수가 아닙니다. 5 는 85 의 인수입니다.
```

In [21]:
numbers = [26, 39, 51, 53, 57, 79, 85]
# 아래에 코드를 작성하세요.

In [22]:
# 반복문의 else 를 사용하는 것이 포인트 !
for number in numbers:
    for x in range(2, number):
        if number % x == 0:
            print(f'{number} 는 소수가 아닙니다. {x} 는 {number} 의 인수입니다.')
            break
    else:
        print(f'{number} 는 소수입니다.')

26 는 소수가 아닙니다. 2 는 26 의 인수입니다.
39 는 소수가 아닙니다. 3 는 39 의 인수입니다.
51 는 소수가 아닙니다. 3 는 51 의 인수입니다.
53 는 소수입니다.
57 는 소수가 아닙니다. 3 는 57 의 인수입니다.
79 는 소수입니다.
85 는 소수가 아닙니다. 5 는 85 의 인수입니다.